img, .dropdown-item{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a{
	text-decoration: none;
}

div{
	display: block;
}

#window p, h1, h2, h3, h4, span, input, a{
	font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}

#info_box p, h1, h2, h3, h4, span, input{
	font-family: "Montserrat", "Arial", "Helvetica", "sans-serif";
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FA0;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b37700;
}

.max, .max_hover, .max_locked, .min, .min_hover, .min_locked, .minus, .minus_hover, .minus_locked, .plus, .plus_hover, .plus_locked, .skill, .skill:hover:after, .locked:before, .skill_12:before, .bar{
	background: url('../images/sprites.png') no-repeat;
}

.calcBox{
    transform: scale(0.8);
}

#window{
	background-image:url('../images/window_new.png');
	width: 847px;
	height: 910px;
	display: block;
	position: absolute;
	top: 100px;
	margin-bottom: 20px;
	left: 50%;
	margin-left: -423px;
}

#skill_points{
	position: relative;
	width: 270px;
	height: 34px;
	top: 2px;
	left: 17px;
	margin: 0;
}

#skill_points p{
    position: relative;
    font-size: 15px;
    color: white;
    text-align: left;
    text-shadow: black 1px 1px;
    left: 6px;
    top: 9px;
}

#skill_points #skillPointNumber{
    position: relative;
    color: #dcc134;
    font-size: 21px;
    text-shadow: #000 0px 0px 5px;
    left: -9px;
    top: -34px;
    text-align: right;
}

#resetSkills{
	position: relative;
	width: 99px;
	height: 36px;
	left: 293px;
	top: -31px;
	margin: 0;
	cursor: pointer;
}

/* Save and Load Skill Builds */

#saveSkillBuild{
	position: relative;
	width: 0;
	height: 0;
}

#saveLabel{
	position: relative;
    width: 148px;
    height: 38px;
    left: 400px;
    top: -68px;
	margin: 0 auto;
	cursor: pointer;
	background-image: linear-gradient(#EEEEEE, #C5C5C5, #F6F6F6);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(80, 80, 80, 0.8);
	box-shadow: 0px 1px 3px #111111,
			inset 1px 1px 1px rgba(100, 100, 100, 0.5), inset -1px 1px 1px rgba(100, 100, 100, 0.5),
			inset 1px -1px 1px rgba(100, 100, 100, 0.5), inset -1px -1px 1px rgba(100, 100, 100, 0.5);
	text-align: center;
	line-height: 35px;
	color: #252525;
	text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.7), -1px 1px 1px rgba(240, 240, 240, 0.7),
			1px -1px 1px rgba(240, 240, 240, 0.7), -1px -1px 1px rgba(240, 240, 240, 0.7);
}

#saveLabel::before{
	content: 'Save Build';
}

.saveBuild{
	-webkit-animation-name: 'confirmSaveColor';
	-webkit-animation-duration: 1s;
	-moz-animation-name: 'confirmSaveColor';
	-moz-animation-duration: 1s;
	animation-name: 'confirmSaveColor';
	animation-duration: 1s;
}

.saveBuild::before {
	-webkit-animation-name: 'confirmSaveText';
	-webkit-animation-duration: 1s;
	-moz-animation-name: 'confirmSaveText';
	-moz-animation-duration: 1s;
	animation-name: 'confirmSaveText';
	animation-duration: 1s;
}

/* animations given to #saveLabel upon calling saveSkillBuild() */
@keyframes confirmSaveColor {
	0% { background-image: linear-gradient(rgb(181, 230, 107), rgb(137, 199, 90), rgb(187, 235, 124)); }
	20% { background-image: linear-gradient(rgb(165, 231, 63), rgb(113, 197, 50), rgb(160, 226, 74)); }
	40% { background-image: linear-gradient(rgb(174, 228, 93), rgb(130, 197, 78), rgb(174, 224, 107)); }
	60% { background-image: linear-gradient(rgb(196, 235, 139), rgb(154, 202, 117), rgb(196, 229, 153)); }
	80% { background-image: linear-gradient(rgb(212, 231, 183), rgb(171, 197, 151), rgb(213, 231, 189)); }
	100% { background-image: linear-gradient(rgb(238, 238, 238), rgb(197, 197, 197), rgb(246, 246, 246)); }
}

@keyframes confirmSaveText {
	0% { content: 'Saved!'; }
	100% { content: 'Saved!'; }
}

#buildNameInput{
	width: 9rem;
	display: none;
	position: relative;
	left: 400px;
	top: -68px;
	line-height: 25px;
}

#buildNameInput::placeholder{
	font-size: 0.97rem;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 25px;
}

#loadSkillBuild{
	position: relative;
	height: 38px;
	left: 553px;
	top: -68px;
	margin: 0;
	cursor: pointer;
}

#loadBuildButton{
	background-image: linear-gradient(#EEEEEE, #C5C5C5, #F6F6F6);
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(80, 80, 80, 0.8);
	box-shadow: 0px 1px 3px #111111,
			inset 1px 1px 1px rgba(100, 100, 100, 0.5), inset -1px 1px 1px rgba(100, 100, 100, 0.5),
			inset 1px -1px 1px rgba(100, 100, 100, 0.5), inset -1px -1px 1px rgba(100, 100, 100, 0.5);
	width: 148px;
	font-family: inherit;
	text-shadow: 	1px 1px 1px #EEEEEE, -1px 1px 1px #EEEEEE,
			1px -1px 1px #EEEEEE, -1px -1px 1px #EEEEEE;
}

#selectJob{
	position: relative;
    width: 119px;
    height: 36px;
    left: 708px;
	bottom: 104px;
}

#jobDrop{
    position: relative;
    left: 708px;
    bottom: 140px;
}

#jobDrop2{
    position: absolute;
    left: 147px;
    top: 34px;
    z-index: 100;
}

#jobDrop2 button:after {
	position: absolute;
	top: 13px;
    left: 151px;
}

#jobDrop button{
	background-color: #0000;
    width: 118px;
    height: 36px;
}

#jobDrop2 button{
	background-color: #0000;
	width: 168px;
    height: 31px;
}

#jobDrop2 .btn:focus{
	box-shadow:none;
}

#jobDrop button:after{
	display: none;
}

.dropdown-item:hover{
	background-color: #dcc134;
}

header{
	padding-bottom: 35px;
}

#closeWindow{
    float: right;
    position: relative;
    width: 26px;
    height: 26px;
    right: 12px;
    top: 26px;
	z-index: 10;
	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
}

#jobName{
	position: absolute;
	left: 149px;
	top: 34px;
	width: 165px;
	height: 31px;
	text-align: center;
}

#jobName p{
	font-size: 18px;
	margin-top: 4px;
	text-shadow: white 2px 2px;
}

#container {
   min-height:100%;
   position:relative;
}

#skills_right {
	margin-top: 79px;
	margin-left: 15px;
	border-radius: 6px;
	height: 777px;
	width: 818px;
	background-color: #1d1d1d;
	overflow: hidden;
}
ms-archer, ms-assassin, ms-berserker, ms-heavy-gunner, ms-knight,
ms-priest, ms-runeblade, ms-striker, ms-thief, ms-wizard {
	transform-origin: top left;
	transform: scale(1.005);
	overflow: hidden;
}
